[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "==2.18.0"
constructs = "==10.4.2"
attrs = "==24.2.0"
cattrs = "==24.1.2"
importlib-resources = "==6.4.5"
jsii = "==1.104.0"
publication = "==0.0.3"
python-dateutil = "==2.9.0.post0"
six = "==1.16.0"
typeguard = "==2.13.3"
typing-extensions = "==4.12.2"

[dev-packages]
black = "==24.10.0"
isort = "==5.13.2"

[requires]
python_version = "3.11"
