[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==2.10.5"
pydantic-settings = "==2.7.1"
annotated-types = "==0.7.0"
pydantic-core = "==2.27.2"
python-dotenv = "==1.0.1"
typing-extensions = "==4.12.2"
loguru = "==0.7.3"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
